*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* debug */
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

header{
    background: rgb(27, 45, 205);
    width: 100%;
}

header h2{
    margin-top: 15%;
    text-align: center;
    color: white;
}
header p{
    margin-top: 20px;
    text-align: center;
    color: white;
    width: 60%;
    margin-left: 20%;
}


footer{
    /* debug */
    background: rgb(59, 60, 68);
    width: 100%;
    display: flex;
    justify-content: space-evenly;


}
.sezione-footer{
    width: 20%;
    border-left: solid 1px  white;
    border-right: solid 1px  white;
    
    /* debug */
    background: #000;
    height:100%;
}

section{
    display: flex;    
    justify-content: center;
    height: 500px;
    width: 70%;
}

.metà{    
    border:solid 3px black;

    /* debug */
    
    width: 50%;

}


.uno, .tre{
    
    background: rgb(146, 147, 157);
}


